#animation{
    #whole{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: $sky;

        .cont{
            // display: none;
        }

        // .logoMark{
        //     // display: none;
        // }
        // .logoC{
        //     display:none;
        // }
        
        .airlines{
            // display: none;
        }

        .airplaneNew{
          position:absolute;
          width: 6%;
        }
        
        .theSVG{
                position: absolute;
                
            }
    }

    .theLine{
        right:300px;
    }


    .logoA{}

    .logoC{}
    
    .logoPlane{}

}